---
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import Header1 from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import BlueE from "../images/blue_e.svg";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Contacto">
	<main>
		<Header1/>
		<Navbar/>
		<section id="header" class="flex justify-center items-center">
			<div class="container flex flex-wrap md:flex-nowrap" id="header-text">
				<div class="w-full md:w-1/2 mb-4 md:mb-0">
					<Image src={BlueE} alt="About Image" class="w-1/4" />
					<h1 class="font-bold text-4xl mt-8">Contacto</h1>
				</div>
				<div class="w-full md:w-1/2"></div>
			</div>
		</section>
        
        <section id="contact_form" class="mt-28 container">
            <div class="flex justify-center">
				<div class="text-center w-2/3">
					<h1 class="font-bold text-4xl">Contáctanos</h1>
					<p class="mt-8">“Para soluciones que realmente marcan la diferencia, <span class="text-custom-sky-blue">Elevapro</span> es tu aliado.<br>¡Conéctate con nosotros!”</p>
				</div>
			</div>

			<div class="flex flex-wrap md:flex-nowrap justify-center items-center mt-28">
				<div class="md:pr-10 md:border-r-2 md:border-[#6F6D71] w-1/3">
					<p class="font-bold text-black text-sm">DIRECCIÓN</p>
					<p class="text-xs text-[#6F6D71] mt-2">Av. Acueducto 6075-A Interior 3-B, Puerta de hierro,<br>C.P. 45116, Zapopan, Jalisco.</p>
				</div>
				<div class="md:pl-10 md:border-r-2 md:border-[#6F6D71] w-1/3">
					<p class="font-bold text-black text-sm">CONTACTO</p>
					<a href="mailto:e.elevapro@gmail.com" class="text-xs text-[#6F6D71] mt-2">Email: e.elevapro@gmail.com</a>
					<br>
					<a href="tel:3341612442" class="text-xs text-[#6F6D71]">Oficina: 33-4161-2442</a>
				</div>
				<div class="md:pl-10">
					<p class="font-bold text-black text-sm">REDES SOCIALES</p>
					<div class="flex flex-wrap md:flex-nowrap justify-center items-center gap-4 mt-2">
						<a href="https://www.instagram.com/elevadoreselevapro?igsh=MXA3cWw3Mmt4ZXZoNA==" target="_blank" rel="noopener noreferrer"><svg class="h-6 w-6 text-gray-900"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="4" y="4" width="16" height="16" rx="4" />  <circle cx="12" cy="12" r="3" />  <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" /></svg></a>
						<a href="https://www.facebook.com/profile.php?id=61560018458272&mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer"><svg class="w-6 h-6 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/></svg></a>
						<!-- <svg class="w-6 h-6 text-gray-800 dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/><path d="M7.2 8.809H4V19.5h3.2V8.809Z"/></svg> -->
					</div>
				</div>
			</div>

			<form method="post" action="https://elevapro.com.mx/send_email/email.php">
				<div class="mt-24">
					<div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
						<input required class="w-full bg-white border-[#C4C4C4] border-2 text-gray-900 mt-2 p-3 focus:outline-none focus:shadow-outline" type="text" placeholder="Nombre *" name="name" />
						<input required class="w-full bg-white border-[#C4C4C4] border-2 text-gray-900 mt-2 p-3 focus:outline-none focus:shadow-outline" type="email" placeholder="Email *" name="email" />
					</div>
					<div class="my-4">
						<input required class="w-full bg-white border-[#C4C4C4] border-2 text-gray-900 mt-2 p-3 focus:outline-none focus:shadow-outline" type="text" placeholder="Asunto *" name="subject" />
					</div>
					<div class="my-4">
						<textarea required placeholder="Mensaje *" class="w-full h-32 bg-white border-[#C4C4C4] border-2 text-gray-900 mt-2 p-3 focus:outline-none focus:shadow-outline" name="message"></textarea>
					</div>
					<div class="my-2 flex justify-end">
						<button type="submit" class="uppercase text-sm font-bold tracking-wide bg-[#50A5DD] text-gray-100 p-3 w-1/4 focus:outline-none focus:shadow-outline">
							ENVIAR
						</button>
					</div>
				</div>
			</form>
        </section>

		<Footer />
	</main>
</Layout>

<script>

	window.onload = function() {
        const getUrlParameter = (name:String) => {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            const regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            const results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
        const mailsent = getUrlParameter('mailsent');
        if (mailsent === 'true') {
            var confirmationMessage = document.createElement("div");
            confirmationMessage.textContent = "¡Correo enviado correctamente!";
            confirmationMessage.style.position = "fixed";
            confirmationMessage.style.top = "150px";
            confirmationMessage.style.left = "50%";
            confirmationMessage.style.transform = "translateX(-50%)";
            confirmationMessage.style.backgroundColor = "green";
            confirmationMessage.style.color = "white";
            confirmationMessage.style.padding = "10px";
            confirmationMessage.style.borderRadius = "5px";
            confirmationMessage.style.display = "none";
            confirmationMessage.id = "confirmationMessage";
            document.body.appendChild(confirmationMessage);

            setTimeout(function() {
                confirmationMessage.style.display = "block";
            }, 2000);

            setTimeout(function() {
                confirmationMessage.style.display = "none";
            }, 10000);
        }
    };

	const header:Element = (document.querySelector('#header-text') as Element);
	const contact_form:Element = (document.querySelector('#contact_form') as Element);

	if (isInViewport((header)) && !(header as Element).classList.contains('show')) {
		(header as Element).classList.add('show');
		(contact_form as Element).classList.add('show');
	}

    function isInViewport(element:Element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) + 700 &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth) + 700
        );
    }
</script>

<style>
    #header{
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35vh;
        color: white;
    }
</style>