---
import { Image } from "astro:assets";
import BlueE from "../images/blue_e.svg";
import FooterLogo from "../images/footer_logo.png";
---

<footer class="mt-28 relative">
    <div class="bg-[#10508A] w-full text-white">
        <div class="p-12 flex flex-wrap md:flex-nowrap justify-between items-center container">
            <div class="w-full md:w-1/2">
                <h1 class="text-4xl">Confía en los profesionales, confía en <strong>Elevapro</strong>.</h1>
                <p class="mt-12">Solicita tu propuesta 100% personalizada sin costo</p>
                <button class="mt-12 bg-white pl-8 pr-8 pt-4 pb-4 text-black">COTIZAR AHORA</button>
            </div>
            <div class="w-full md:w-1/2 flex justify-center mt-8 md:mt-0">
                <Image src={BlueE} alt="About Image" class="w-1/3" />
            </div>
        </div>
    </div>
    <div class="bg-[#1A2A36] w-full text-white">
        <div class="p-12 flex flex-wrap md:flex-nowrap justify-between items-center container gap-8">
            <div class="w-full md:w-2/3">
                <Image src={FooterLogo} alt="About Image" class="w-1/2" />
                <p class="mt-8 text-sm">©2024 Elevapro, Todos los derechos reservados.</p>
            </div>
            <div class="w-full md:w-1/3">
                <a href="tel:5554551081"><p class="text-[#929BA2] text-4xl">5554551081</p></a>
                <a href="mailto:contacto@elevapro.com"><p class="mt-4 font-semibold text-custom-sky-blue">Email: contacto@elevapro.com</p></a>
                <p class="text-sm text-[#929BA2] mt-5">237 Beverley Rd Brooklyn, New York 11226 United States.</p>
                <div class="mt-6 flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="m9.69 18.933.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 0 0 .281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 1 0 3 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 0 0 2.273 1.765 11.842 11.842 0 0 0 .976.544l.062.029.018.008.006.003ZM10 11.25a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z" clip-rule="evenodd" />
                    </svg>
                    <p>Ubicación</p>                      
                </div>
            </div>
            <a href="#header" class="bg-[#50A5DD] pl-10 pr-10 pt-10 pb-10 md:pt-24 md:pb-24 flex items-center justify-center absolute bottom-0 right-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M10 18a.75.75 0 0 1-.75-.75V4.66L7.3 6.76a.75.75 0 0 1-1.1-1.02l3.25-3.5a.75.75 0 0 1 1.1 0l3.25 3.5a.75.75 0 1 1-1.1 1.02l-1.95-2.1v12.59A.75.75 0 0 1 10 18Z" clip-rule="evenodd" />
                </svg>                  
            </a>
        </div>
    </div>
</footer>