---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Relaway';
		src: url('/fonts/Raleway/Raleway-Regular.ttf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Relaway';
		src: url('/fonts/Raleway/Raleway-Bold.ttf');
		font-weight: bold;
		font-style: bold;
	}
	@font-face {
		font-family: 'Relaway';
		src: url('/fonts/Raleway/Raleway-Light.ttf');
		font-weight: light;
		font-style: light;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Regular.ttf');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Bold.ttf');
		font-weight: bold;
		font-style: bold;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/Lato/Lato-Light.ttf');
		font-weight: light;
		font-style: light;
	}
	html { 
		font-family: 'Relaway', sans-serif;
		font-weight: normal;
	}
	.container {
		margin-right: auto;
		margin-left: auto;
		max-width: 1160px;
		padding-right: 15px;
		padding-left: 15px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
